body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-size: 300% 300%;
}

.headetal {
    color: black;
    text-align: center;
}

.lista {
    color: black;
    width: 250px;
    margin-left: 20px;
    border: 10px outset ;
    padding: 0px;
    margin: auto;
    text-align: center;
    opacity: 1;
}

.perfil {
display: block;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

.icons{
display: block;
text-align: center;
margin-top: 10px;
}

.textos {
    color: black;
    text-align: center;
    opacity: 1;
}

.greyicon {
    color: 	#6B8488;
    margin: 13px;
  }
  
