body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-size: 300% 300%;
}

.headetal {
    color: navy;
    text-align: center;
}

.textos {
    color: black;
    text-align: center;
}


.lista {
    color: navy;
    width: 250px;
    margin-left: 20px;
    border: 10px outset ;
    padding: 0px;
    margin: auto;
    text-align: center;
}

.perfil {
display: block;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}
