body {
  text-align: auto;
  overflow: auto;
  background: url(images/dirt.png);
  
}
.title{
  font-family:
}
.divMain{ 
  background: url("images/sky.png");
  background-repeat:repeat;
  background-size: cover;
  height: 1080px;
  width: 100%;
  z-index: -2;
}
.divMain2{
  position: absolute;
  top:100%;
  height: 100%;
  width: 100%;
}
.sky{

  background-repeat: no-repeat;
  position : absolute;
  width: 100%;
  height: 90%;
  background-size:cover;
  top: 0%;
  pointer-events:none;
  
  
}
.grass{
  background: url("images/grass.png");
  background-repeat: repeat-x;
  background-size: cover;
  position : absolute;
  bottom : 0;
  height: 250px;
  width: 100%;
  pointer-events:none;
}
.ocean{
  background: url("images/sea.png");
  background-repeat: repeat-x;
  position: absolute;
  bottom: 237px;
  height: 85px;
  width: 100%;
  pointer-events:none;
}

.clouds{
  background: url("images/clouds.png");
  background-repeat:repeat-x; 
  position: absolute;
  bottom: 297px;
  height: 200px;
  width: 100%;
  pointer-events:none;
}
.headetal {
    color: black;
    text-align: center;
    z-index: 10;
}

.lista {
    color: gray;
    border-bottom-color: #6B8488;
    width: 250px;
    margin-left: auto;
    border: 3px outset;
    padding: 0px;
    margin: auto;
    text-align: center;
    opacity: 1;
}

.perfil {
display: block;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

.icons{
position: relative;
display: block;
text-align: center;
margin-top: 10px;
z-index: 1;
}

.textos {
    color: black;
    text-align: center;
    opacity: 1;
}

.greyicon {
    color: 	#6B8488;
    margin: 13px;
    z-index: 2;
  }
  
  .greyicon:hover {
    color: #069e4a;
}

#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

